body {
  font-family: sans-serif;
  padding: 5rem;
}

.fuzzy-select {
  background-color: #eee;
  border-radius: 3px;
  border: none;
  font-size: .8em;
  margin: 0 auto;
  max-width: 400px;
  outline: none;
  position: relative;
  transition: background-color .5s ease;
}

.fuzzy-select:hover {
  background-color: #ddd;
}

.fuzzy-select input {
  background-color: transparent;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: block;
  padding: .8em 1em;
  width: 100%;
  font: inherit;
}

.fuzzy-select input:focus {
  background-color: #293549;
  border-radius: 3px 3px 0 0;
  color: white;
  outline: none;
  transition: none;
}

.fuzzy-select input:focus::placeholder {
  color: transparent;
}

.fuzzy-select input::selection {
  background-color: #3b4c68;
  color: white;
}

.fuzzy-select ul {
  background-color: #516890;
  border-radius: 0 0 3px 3px;
  color: white;
  display: none;
  padding: 1em 0;
  position: absolute;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.fuzzy-select ul.fuzzy-select-shown {
  display: block;
}

.fuzzy-select ul li {
  cursor: pointer;
  padding: .5em 1em;
  transition: background-color .1s ease;
}

li.fuzzy-select-highlight {
  background-color: #3b4c68;
}

.fuzzy-select-inline-match {
  color: #f37748;
}
