body {
  padding: 50px;
}

.scroll-root {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 4px 4px 5px rgba(0,0,0,.05);
  height: 300px;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.scroll-container {
  padding: .5em .8em;
}

.scroll-bar {
  padding: 6px;
  width: 18px;
  transition: background-color .3s ease-in;
}

.scroll-bar:hover {
  background-color: #f8f8f8;
}

.scroll-handle {
  background-color: #e8e8e8;
  border-radius: 3px;
  transition: background-color .1s ease-in;
  width: 100%;
}

.scroll-handle:hover {
  background-color: #ccc;
}

.scroll-handle:active {
  background-color: #888;
}

/* Scrollable structural styles */

.scroll-root {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.scroll-container {
  flex: 1;
}

.scroll-content {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.scroll-bar {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}

.scroll-handle {
  position: relative;
  top: 0;
}

.noselect,
.noselect * {
  user-select: none;
}
